#title {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number1 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number2 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number3 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number4 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
input[type=number]{
    width: 50px;
} 
#number5 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number6 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number7 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number8 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number9 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number10 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number11 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number12 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number13 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number14 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number15 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number16 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number17 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number18 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number19 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number20 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number21 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number22 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number23 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number24 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}